name: Autograding Tests
on:
  - push
  - repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Quiz 1
        id: quiz-1
        run: |
          #!/bin/bash
          bash quiz1.sh b
      - name: Autograding Reporter
        uses: classroom-resources/autograding-grading-reporter@v1
        env:
          QUIZ-1_RESULTS: "${{steps.quiz-1.outputs.result}}"
        with:
          runners: quiz-1
